.icon {
  color: #a72d2d;
}

.item-wrapper {
  margin-bottom: 40px;
}

.item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  padding: 0 15px;
}

.item-image {
  width: 100%;
}

.item-title {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  margin-top: 5px;
}

.item-price {
  margin: 0;
  padding: 0;
  text-align: left;
}

.item-price-original-wrapper {
  font-size: 14px;
}

.item-price-original {
  text-decoration: line-through;
}

.item-controls {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  justify-content: flex-end;
  align-items: "center";
}

.item-controls-additional {
  margin-top: 4px;
}

.item-controls-additional:hover {
  cursor: pointer;
}
