.details-textfield {
  margin: 0px 10px 10px 10px !important;
}

.details-address-wrapper {
  margin: 0px 20px 20px 0px;
}

.details-content {
  margin: 0px 10px 10px 10px !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.details-box-add {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  min-height: 210px;
  margin: 0px 20px 20px 0px;
  background-image: linear-gradient(to bottom right, #f8f8f8, #e0e0e0);
}

.details-basic-credentials-button-wrapper {
  display: flex;
  flex-direction: row;
}

.details-basic-credentials-button {
  margin: 20px 20px 0px 10px !important;
}
