.account-wrapper {
  margin: 0 auto;
  max-width: 10000px !important;
}

.account-row {
  margin-top: 50px;
}

.order-card-root {
  padding: 5px;
  background-color: #eaefd3 !important;
  border-radius: 4px;
  flex-direction: row !important;
  display: flex;
  /* align-content: center; */
  align-items: center;
  margin-bottom: 15px;
}

.order-card {
  display: flex !important;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.order-image {
  width: 100px;
  height: 100px;
}
.order-item-root {
  border-color: #d8d8d8;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  margin: 5px;
}
.order-item {
  padding: 10px;
}

.order-header {
  padding: 10px;
  justify-content: space-between;

  display: flex;
}

.match-parent {
  width: 100%;
}

.divider {
  height: 1px;
  background-color: black;
}

.order-item-description {
  font-size: 14px;
  color: #464646;
  letter-spacing: 0;
  margin-top: 0px;
}

.order-item-title {
  font-size: 18px;
  color: #000000;
  letter-spacing: 0;
  margin-bottom: 0px;
}

.order-item-price {
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
  font-weight: bold;
}

.details-textfield {
  margin: 10px;
}
