

.chip-wrapper {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 10px;
}

.chip {
    margin-right: 8px;
    margin-bottom: 5px;
    background-color: #f5f5f5;
    padding: 5px 10px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 10px;
}

.product-desc {
    text-align: justify;
}