
.icon {
    color: #A72D2D;
}

.item-wrapper {
    margin-bottom: 20px;
}

.item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.item-image {
    width: 100%;
}

.item-title {
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    margin-top: 5px;
}

.item-price {
    margin: 0;
    padding: 0;
    text-align: left;
}

.item-price-original-wrapper {
    font-size: 14px;
}

.item-price-original {
    text-decoration: line-through;
}

.item-controls {
    display: flex;
    flex-direction: row;
    margin-top: 7px;
    justify-content: space-between;
    align-items: 'center';
}

.item-add-cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #EAEFD3;
    padding: 7px;
    padding-bottom: 6px;
    border-radius: 5px;
}

.item-add-cart-text {
    margin-left: 6px;
    font-size: 14px;
    color: #A72D2D;
    font-weight: 600;
}