/* .button {
    border: 1px;
    border-color: #A72D2D !important;
    padding-left: 15px;

} */

.dropdown-toggle::after {
    display: none;
}

#dropdown-menu-align-right {
    padding: 0 !important;
    padding-right: 10px;
}