.navbar {
  background-color: #eaefd3;
  border-bottom-color: #a72d2d;
  border-bottom-style: solid;
  height: 100%;
}

.navbar-brand,
.navbar-brand,
.nav-link {
  color: #bbb;
}

.navbar-brand:hover,
.navbar-brand:hover,
.nav-link:hover {
  color: #a72d2d;
}

.searchbar-size {
  position: relative;
  width: 50vw;
  height: 20%;
  display: inline-flex;
  justify-content: baseline;
  border-radius: 10cm;
}

.searchbar #search {
  width: 50%;
}

.logo {
  max-width: 150px;
  min-width: 5vw;
  height: auto;
}

#header-mid {
  width: 100%;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.pretty-categories {
  display: flex !important;
  justify-content: space-evenly;
  width: 669px;
}
