form.form-inline {
    border-radius: 10px !important;
    margin-right: 10px;
    width: 500px !important;
    margin-left: 90px;
}

input.form-control {
  border-radius: 10px !important;
  margin-right: 10px;
  width: 500px !important;
  margin-left: auto;
}